

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HoojaWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HoojaWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/chatStyle.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/9ee47b90d5.js" crossorigin="anonymous"></script>
    <!-- For login page -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- For login page -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/css/Images/LogoB.jpg" width="80px" height="auto"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Brands">Brands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Index">Support</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item dropdown">
                            @if(User.IsInRole("Customer") || User.IsInRole("Admin") || User.IsInRole("Employee"))
                            {
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                    </svg>
                                    @User.Identity.Name
                                </a>
                            }
                            else
                            {
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill-lock" viewBox="0 0 16 16">
                                        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5v-1a1.9 1.9 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z" />
                                    </svg>
                                    Login
                                </a>
                            }

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if(User.IsInRole("Customer"))
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="OrderDetailsCustomer">Order Details Customer</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Chat" asp-action="Index">Support</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="SendEmail" asp-action="SendEmail">Email</a>
                                    <a class="dropdown-item" id="logout-link" style="cursor: pointer;">Log out</a>
                                }
                                else if(User.IsInRole("Admin") || User.IsInRole("Employee"))
                                {                              
                                    <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="CreateProduct">Add new product</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="CampaignCode" asp-action="Index">Campaigns</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ProductReview" asp-action="Index">Reviews</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="OrderHistory" asp-action="Index">Order history</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="PostNord" asp-action="Index">PostNord</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Chat" asp-action="Index">Support</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="SendEmail" asp-action="SendEmail">Email</a>
                                    <a class="dropdown-item" id="logout-link" style="cursor: pointer;">Log out</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Chat" asp-action="Index">Support</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="SendEmail" asp-action="SendEmail">Email</a>                                    
                                }
                            </div>
                            

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
                                <div class="position-relative">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                    <span id="cartCounter" class="badge bg-primary rounded-pill badge-top-right"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


@*    <!-- side navigation -->
    <div class="wrapper">

        
        <section class="sidenav">
            <h4 class="p-3">Dashboard</h4>

            <ul class="navbar-nav">
                <li class="nav-item p-2 ms-2">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-house-chimney me-2" style="color: #d68d06;"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item p-2 ms-2">
                    <a class="nav-link" asp-controller="OrderHistory" asp-action="Index">
                        <i class="fa-solid fa-table-list me-2" style="color: #d68d06;"></i>
                        Orders
                    </a>
                </li>
                <li class="nav-item p-2 ms-2">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-users me-1" style="color: #d68d06;"></i>
                        Customers
                    </a>
                </li>


                <!-- Collapseble button-->
@*                <li class="mb-1">
                    <button 
                        class="btn btn-toggle align-items-center rounded collapsed" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#orders-collapse" 
                        aria-expanded="false">
                        Statistics
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a
                                    class="dropdown-item link-dark rounded" 
                                    asp-controller="Home" 
                                    asp-action="Index">
                                    Amount of purchases/day
                                </a>
                            </li>
                            <li>
                                <a 
                                    class="dropdown-item link-dark rounded" 
                                    asp-controller="Home" 
                                    asp-action="Index">
                                    Most bought products/period
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>*@

    @*               <li class="nav-item p-2 ms-2 dropdown">
                    <a class="dropdown-toggle text-dark nav-link"
                       href="#" 
                        id="navbarDropdown" 
                        role="button" 
                        data-bs-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                        <i class="fa-solid fa-chart-line me-2" style="color: #d68d06;"></i>
                        Statistics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index">Purchases/day</a>              
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index">Most bought products</a>
                    </div>
                </li>
                
                <li class="p-2 ms-2 dropdown">
                    <hr />
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-circle-user me-2" style="color: #d68d06;"></i>
                        <strong>Name</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </li>
            </ul>

        </section>
    </div>
    <!-- side navigation -->*@

    <section>
        <main role="main" class="pb-3 main">
            @RenderBody()
        </main>
    </section>




    <!-- Footer -->
    <footer class="container-footer">
        
        <!-- Grid container -->
            <!-- Section: Links -->
            <section class="mt-5">
                <!-- Grid row-->
                <div class="row text-center d-flex justify-content-center pt-5 setWidth100">
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a asp-area="" asp-controller="Home" asp-action="AboutUs" class="link-text">About us</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a asp-area="" asp-controller="Products" asp-action="Index" class="link-text">Products</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a asp-area="" asp-controller="Home" asp-action="Awards" class="link-text">Awards</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a class="link-text" asp-area="" asp-controller="Chat" asp-action="Index">Help</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a class="link-text" asp-area="" asp-controller="SendEmail" asp-action="SendEmail">Email</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-5" />

            <!-- Section: Text -->
        <section class="mb-5 ms-4 me-3">
                <div class="row d-flex justify-content-center setWidth100">
                    <div class="col-lg-8">
                        <h4 class="text-center pb-3">
                           <img class="logo" src="~/css/Images/LogoW.jpg" width="80px" height="auto" />
                           <br/>
                            HAIR|CARE
                            </h4>
                        <p class="text-center">
                            Hair Care is a visionary hair care company that 
                            specializes in providing top-quality products while 
                            prioritizing beauty, the environment, and personal health. 
                            With a strong commitment to sustainability, their meticulously 
                            crafted formulations are designed to nourish and enhance 
                            hair without compromising on eco-friendliness. 
                            Hare Care's products are conveniently accessible and easy to purchase, 
                            making self-care routines effortlessly enjoyable. 
                            Discover a harmonious blend of nature and science, 
                            as Hare Care empowers individuals to embrace their hair's natural beauty 
                            while fostering a healthier planet.
                        </p>
                    </div>
                </div>
            </section>
            <!-- Section: Text -->

            <!-- Section: Social -->
            <section class="text-center mb-5">
            <a href="https://www.linkedin.com/company/qlok/" target="_blank" class="me-4 icon-social">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                    </svg>
                </a>
            <a href="https://github.com/Grupparbete-School" target="_blank" class="me-4 icon-social">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </a>
            </section>
            <!-- Section: Social -->
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3">
            &copy; @DateTime.Now.Year - Hair|Care -
        </div>
        <!-- Copyright -->
        <!-- Cred https://mdbootstrap.com/ MDBootstrap.com -->
    </footer>
    <!-- Footer -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        var cartCounter = 0;
      
        $('#logout-link').click(function (e) {
            e.preventDefault(); // Prevent the default link behavior

            // Remove all cookies
            var cookies = document.cookie.split(";");

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";
            }

            // Redirect to the logout action or any other desired page
            window.location.href = "/Login/Logout";
        });


        // Retrieve the initial value of cartCounter if it exists
        if (localStorage.getItem("cartCounter") !== null) {
            cartCounter = parseInt(localStorage.getItem("cartCounter"));
        }



        // Set the initial value in the span element
        $("#cartCounter").text(cartCounter);



        // Add event handler to the Add to Cart button
        $("#addToCartButton").click(function (e) {
            e.preventDefault();



            // Increment the counter
            cartCounter++;



            // Update the value in the span element
            $("#cartCounter").text(cartCounter);



            // Store the updated counter in local storage
            localStorage.setItem("cartCounter", cartCounter);



            // Perform any other logic related to adding the product to the cart
        });
    });
</script>
