

@{
    ViewData["Title"] = "Admin";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Login" asp-action="Index">Login</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
    </ol>
</nav>
<div class="text-white container-blue">
    <h1 class="text-white">Admin/Employee</h1>
    <h3 class="text-white">Here you can see different things based on you level of clearance</h3>

<br/>
    <h4 class="text-white">Admin</h4>
<hr />

    <h5 class="text-white">Delete product</h5>
<hr />

    <h5 class="text-white">Create campaign codes and other sales?</h5>
<hr />

    <h5 class="text-white">Statistics about amount of purchases/day</h5>
<hr />

    <h5 class="text-white">Statistics about most bought products/period</h5>
<hr />

    <h5 class="text-white">See all transactions and all the products in them</h5>
<hr />

 <br />
    <h4 class="text-white">Employee</h4>
<hr />

    <h5 class="text-white">Add, edit products including how many is in stock</h5>
<hr />

    <h5 class="text-white">See if a product is about to run out</h5>
<hr />

</div>