

@{
    ViewData["Title"] = "My page";
}

<div class="text-white container-blue">
    <h1 class="text-white">Customer - My page</h1>
<hr />

    <h5 class="text-white">Your account</h5>
<hr />

    <h5 class="text-white">Order history</h5>
<hr />

    <h5 class="text-white">Change settings</h5>
<hr />

</div>