

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-white">Login page</h1>

<hr/>
<br />
<button class="btn btn-primary"><a asp-action="AdminView">Admin</a></button>
<br />
<br />
<button class="btn btn-primary"><a asp-action="CustomerView">Customer</a></button>
