@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-lg-5">
    <br/>
    <br />
    <div >
    <div class="row">
            <div class="col col-12 col-md-6">
            <img class="img-products1" src="./css/Images/P4.jpg" alt="Product picture" />
        </div>
        <div class="col .col-md-4">
            <img class="img-products" src="./css/Images/P2.jpg" alt="Product picture" />
            <img class="img-products" src="./css/Images/P1.jpg" alt="Product picture" />
        </div>
    </div>
</div>
</div>
