@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-lg-5">
    <br/>
    <br />
    <div class="text-center container-blue">
    <div class="row">
        <div class="col .col-md-4">
            <img class="img-products" src="./css/Images/P1.jpg" />
            <p class="description-text">
                Great new shampoo
            </p>
        </div>
        <div class="col .col-md-4">
            <img class="img-products" src="./css/Images/P2.jpg"/>
            <p class="description-text">
                Great new hair wrap
            </p>
        </div>
        <div class="col .col-md-4">
            <img class="img-products" src="./css/Images/P3.jpg"/>
            <p class="description-text">
                Great new conditioner
            </p>
        </div>
    </div>
</div>
</div>
