@model IEnumerable<HoojaWeb.ViewModels.Product.BrandsGetViewModel>

@{
    ViewData["Title"] = "Brands";
}

<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Brands</li>
    </ol>
</nav>
<!-- Breadcrumbs -->

<div class="container container-fluid container-white mt-5">

    <div class="text-center p-3">
        <h1>Brands</h1>
        <hr />
    </div>
     <div class="d-flex flex-wrap">
        @foreach (var brand in Model)
        {
            <div class="card mb-4 me-5 w-25">
                @*<img src="@brand.BrandLogo" class="card-img-top" alt="@brand.BrandName">*@
                <div class="card-body">
                    <h5 class="card-title">@brand.Brand</h5>
                </div>
            </div>

        }
    </div>

</div>
