@{
    ViewData["Title"] = "Brands";
}

<div class ="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Brands</li>
        </ol>
    </nav>
    <div class="container-blue my-5">
        <h1 class="text-white">Brands</h1>

    </div>
</div>