

@{
    ViewData["Title"] = "Shopping cart";
}

<div class="text-white">
    <h1 class="text-white">Shopping cart</h1>
    <hr />
    <br/>

    <h5 class="text-white">Your products:</h5>
    <p>Change quantity, delete</p>
    <hr />

    <h5 class="text-white">Total:</h5>
    <hr />

    <h5 class="text-white">Go to check out</h5>
    <hr />

</div>