

@{
    ViewData["Title"] = "Shopping cart";
}

<div class="text-white">
    <h1 class="text-white">Shopping cart</h1>
    <br />
    <br />

    <h5 class="text-white">Your products:</h5>
    <br />
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Quantity</li>
        <li class="list-group-item">Product</li>
        <li class="list-group-item">Amount</li>
    </ul>
    <p>Change quantity, delete</p>
    <br />
    <br />

    <h5 class="text-white">Total:</h5>
    <hr />

    <button class="btn btn-primary"><a asp-action="CheckOut">CHECK OUT</a></button>
    <hr />

</div>